[Unit]
Description=SCPODS API - API do Sistema de Cadastro de Projetos relacionados aos ODS.
After=network.target postgresql@16-main.service
Wants=postgresql@16-main.service

[Service]
Type=simple
User=willcq
ExecStart=/home/willcq/Programs/jdk-21.0.4+7-jre/bin/java -jar /home/willcq/my-apps/scpods-api/app.jar
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
