[Unit]
Description=SCPODS Site - Frontend do sistema para cadastro de projetos relacionados aos ODS na UFES.
After=network.target scpods-api.service
Wants=scpods-api.service

[Service]
Type=simple
User=willcq
ExecStart=/home/willcq/Programs/node-v20.17.0-linux-arm64/bin/node /home/willcq/my-apps/scpods-site/server/index.mjs
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
